
.card-store {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /*height: 100%;*/
    width: 45%;
    margin-left: 26.5%;
    padding-bottom: 2%;
}

.card-store button {
    margin-top: 1%;
}

/* On mouse-over, add a deeper shadow */
.card-store:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.inline-label {
    display: flow-root;
}

.lat {
    float: left;
}

.lng {
    float: right;
    /*width: 33%;*/
}

.PicPayAccount-label {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
    